html, body {
    height: 100%;
}
body .operation-column
{
    vertical-align: middle;
}
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#push, #footer {
    height: 60px;
}

#footer {
    background-color: #F5F5F5;
    text-align: center;
}